@model Category
@{
    Layout = "_Layout";
}

<div class="container p-5">
    <h2 class="text-light">Create Category</h2>


    <div class="form-group">
        <form method="post" asp-action="CategoryAdd">
            <div class="form-group">
                <label class="form-control">Name</label>
                <input required asp-for="Name" class="form-control text-white" />
            </div>
            <input class="btn btn-outline-light" type="submit" value="Add"/>
        </form>
    </div>

</div>