@model ASP.NET_Proje.Models.Branch

@{
    ViewData["Title"] = "Delete";

}
<div class="container p-5">
    <h2 class="text-light">Delete Branch</h2>
    <div class="form-group">
        <form method="post" asp-action="Delete">
            <div class="form-group">
                <label class="form-control">Store</label>
                <input required asp-for="StoreId" class="form-control text-white" />
            </div>
            <div class="form-group">
                <label class="form-control">Name</label>
                <input required asp-for="Name" class="form-control text-white" />
            </div>
            <div class="form-group">
                <label class="form-control">Description</label>
                <input required asp-for="Description" class="form-control text-white" />
            </div>
            <input class="btn btn-outline-light" type="submit" value="Delete" />
        </form>
    </div>
</div>